    /* Commentaire :
    Commentaire 1
    Commentaire 2
    Commentaire 3

    */
    
    body {
    margin-left: 3cm;
    margin: 3;
    background: rgb(241, 239, 233);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }

    header{
    
    }

    h1{
    color: red;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    
    }

    table{
        border: 2px solid rgb(0, 162, 255);
    }




    